<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	<!-- This bean uses : InitializingBean and DisposbleBean callback interfaces -->
	<bean name="employee" class="com.spring.core.entity.Employee">
		<property name="name" value="Rasputin"/>
	</bean>
	
	<!-- This bean uses : BeanNameAware, BeanFactoryAware, ApplicationContextAware callback interfaces -->
	<bean name="address" class="com.spring.core.entity.Address">
		<property name="city" value="Pune"/>	
	</bean> 
	
	<!-- The most recommended way to handle Spring Bean's Life cycle methods. Allows & imposes loose coupling -->
	<bean name="department" class="com.spring.core.entity.Department" init-method="customInit" destroy-method="customDestroy" >
		<property name="name" value="Information technology"/>	
	</bean>
	
</beans>
